/* app css stylesheet */

body {
  padding-top: 20px;
}


.phone-images {
  background-color: white;
  width: 450px;
  height: 450px;
  overflow: hidden;
  position: relative;
  float: left;
}

.phones {
  list-style: none;
}

.thumb {
  float: left;
  margin: -0.5em 1em 1.5em 0;
  padding-bottom: 1em;
  height: 100px;
  width: 100px;
}

.phones li {
  clear: both;
  height: 115px;
  padding-top: 15px;
}

/** Detail View **/
img.phone {
  float: left;
  margin-right: 3em;
  margin-bottom: 2em;
  background-color: white;
  padding: 2em;
  height: 400px;
  width: 400px;
  display: none;
}

img.phone:first-child {
  display: block;
}


ul.phone-thumbs {
  margin: 0;
  list-style: none;
}

ul.phone-thumbs li {
  border: 1px solid black;
  display: inline-block;
  margin: 1em;
  background-color: white;
}

ul.phone-thumbs img {
  height: 100px;
  width: 100px;
  padding: 1em;
}

ul.phone-thumbs img:hover {
  cursor: pointer;
}


ul.specs {
  clear: both;
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.specs > li{
  display: inline-block;
  width: 200px;
  vertical-align: top;
}

ul.specs > li > span{
  font-weight: bold;
  font-size: 1.2em;
}

ul.specs dt {
  font-weight: bold;
}

h1 {
  border-bottom: 1px solid gray;
}

//
html, body {
    height: 100%;
}
#wrapper1:before {
    content:'';
    float: left;
    height: 100%;
}
#wrapper1 {
    height: 100%;
}
#content1 {
    position: relative;
    background: green;
}
#content1:after {
    content:'';
    display: block;
    clear: both;
}
.scroll1 {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: auto;
}
.pText{
    left: 250px;
    margin-left: -250px;
    position: fixed;
    z-index: 1000;
    height: 100%;
    overflow-y: auto;
    width: 250px;
}

.lText{
    left: 37px;
    margin-left: 250px;
    position: relative;
    z-index: 1000;
    width: 85%;
    }

     .bgClr{
         background-color: black;
         color: #D0D924;
         height:50px
         }

         .textClr{
         font-size :20px}